.banner
{
    background-color: #000;
    height: 550px;
    background-position: center top;
    background-size: 1300px 500px;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  flex-grow: 1;
}

.right-image-container {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-image-container .image {
  margin-left: 10px;
}

.right-image-container .image img {
  height: 250px;
  width: 300px;
  transition: opacity 1s ease;
  opacity: 0;
}

.right-image-container .image.active img {
  opacity: 1;
}


.left-content {
  flex-grow: 1;
}

.content
{
    top: 30%;
    left: 7%;
    position: absolute;
}
.content h1 
{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
  
}
.content p{
  margin-left: 25px;
  color: #e0baba;
  font-size: 25px;
  /* font-weight: bold; */
  font-family: 'Dancing Script', cursive;
font-family: 'Playfair', serif;
}
.content a 
{
    text-decoration: none;
    background-color: transparent;
    margin-left: 60px;
    color: #fff;
    border: 1px solid rgb(44, 102, 78);
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

.content a:hover 
{   border: 1px solid rgb(79, 168, 104);
   background-color: var(--primary-color);
    /* background-color: #fff; */
    /* color: var(--primary-color); */
    color: white;
    
}
/* Headings*/
.nine h1 {
  text-align:center;
   font-size:50px;
    text-transform:uppercase;
     color:#222;
      letter-spacing:1px;
  font-family:"Playfair Display", serif; 
  font-weight:400;
}
.nine h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; 
    word-spacing:1px;
     font-weight:normal; 
     letter-spacing:2px;
    text-transform: uppercase;
     font-family:"Raleway", sans-serif;
      font-weight:500;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}
/*-------*/
:root {
  --card-height: 300px; 
  --card-width: calc(var(--card-height) / 1.5);
}
.step{
  box-sizing: border-box;
  width: 100vw;
  height: 60vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   background: #191c29; 
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 36px;
  perspective: 2500px;
  margin: 0 50px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 1;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 70px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: 1;
  /* z-index: -1; to move writtings with pic*/
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

/*----------*/





/*----*/


.foodbox 
{
    padding: 10px 5px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.viewmorebtn
{
    text-decoration: none;
    background-color:var(--secondary-color);
    color:whitesmoke;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
    
}
.viewmorebtn:hover {
    background-color: var(--primary-color);
  }

@media screen and (max-width:600px)
{
    .banner
{
    height: 700px;
}
}
/*----------------------*/
.reviews-container {
  display: flex;
  justify-content: space-between;
}

.review-card {
  background: linear-gradient(to bottom right, #42423f, #adacaa);
  color: white;
  padding: 20px;
  border-radius: 8px;
  width: 45%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.review-title {
  font-size: 18px;
  font-weight: bold;
}

.review-rating {
  font-size: 14px;
  color: #ffffff99;
}

.review-description {
  margin-bottom: 10px;
}

.review-author {
  font-style: italic;
  color: #ffffff99;
}
