<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1>NaAsS</h1>
            <p>GOOD FOOD, GOOD TIMES  </p>
            
        </div>
        <!--address-->
        
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="cart">Cart</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>&nbsp;
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>&nbsp;
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>&nbsp;
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
