  
  <div class="book-container">
    <div class="book">
      <div class="book-cover book-front">
        <div class="signup-content">
          <div class="signup-image">
            <img src="\assets\img\signup.jpg" height="450" width="320">
          </div>
        </div>
      </div>
      <div class="book-cover book-back">
        <div class="signup-content">
          <div class="signup-heading">
            <b>Sign Up!</b>
          </div>
          
  
          <div class="form-group">
            <label for="username">Name:</label>
            <input type="text" id="username" [(ngModel)]="username" class="form-control" placeholder="Enter your Name">
          </div>
          <div class="form-group">
            <label for="phone">Contact Number:</label>
            <input type="number" id="phone" [(ngModel)]="phone" class="form-control" placeholder="Enter your contact number">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="email" class="form-control" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Enter your password">
          </div>
          <button class="btn btn-primary" (click)="signUp()">Sign Up</button>
          <div class="login-link">
            <a routerLink="/login">Already have an account? Login here</a>
          </div>
        </div>
        </div>
      </div>
    </div>
  
 
  
  
  
  
  
